<a href="https://colab.research.google.com/github/ChinthakindhiNishitha/RoadSafe-Analytics/blob/main/missingdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# Example DataFrame
data = {
    'A': [1, np.nan, 3, 4, 5],
    'B': [np.nan, np.nan, np.nan, 4, 5],
    'C': [1, 2, 3, np.nan, 5]
}
df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

# Drop rows with ANY missing values
df_drop_rows = df.dropna(axis=0)
print("\nAfter dropping rows with any missing values:\n", df_drop_rows)

# Drop columns with ANY missing values
df_drop_cols = df.dropna(axis=1)
print("\nAfter dropping columns with any missing values:\n", df_drop_cols)

# Drop columns with more than a threshold (e.g., 50%) missing values
threshold = 0.5 * len(df)
df_drop_threshold = df.dropna(axis=1, thresh=threshold)
print("\nAfter dropping columns with >50% missing values:\n", df_drop_threshold)

Original DataFrame:
      A    B    C
0  1.0  NaN  1.0
1  NaN  NaN  2.0
2  3.0  NaN  3.0
3  4.0  4.0  NaN
4  5.0  5.0  5.0

After dropping rows with any missing values:
      A    B    C
4  5.0  5.0  5.0

After dropping columns with any missing values:
 Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

After dropping columns with >50% missing values:
      A    C
0  1.0  1.0
1  NaN  2.0
2  3.0  3.0
3  4.0  NaN
4  5.0  5.0

In [2]:
df_constant = df.fillna(0)
print("\nFill missing values with 0:\n", df_constant)

Fill missing values with 0:
      A    B    C
0  1.0  0.0  1.0
1  0.0  0.0  2.0
2  3.0  0.0  3.0
3  4.0  4.0  0.0
4  5.0  5.0  5.0

In [3]:
df_mean = df.fillna(df.mean(numeric_only=True))
print("\nFill numerical columns with mean:\n", df_mean)

# Fill numerical columns with median
df_median = df.fillna(df.median(numeric_only=True))
print("\nFill numerical columns with median:\n", df_median)

# Fill categorical columns with mode
df_mode = df.apply(lambda x: x.fillna(x.mode()[0]) if x.dtype=='O' else x)
print("\nFill categorical columns with mode:\n", df_mode)

Fill numerical columns with mean:
       A    B     C
0  1.00  4.5  1.00
1  3.25  4.5  2.00
2  3.00  4.5  3.00
3  4.00  4.0  2.75
4  5.00  5.0  5.00

Fill numerical columns with median:
      A    B    C
0  1.0  4.5  1.0
1  3.5  4.5  2.0
2  3.0  4.5  3.0
3  4.0  4.0  2.5
4  5.0  5.0  5.0

Fill categorical columns with mode:
      A    B    C
0  1.0  NaN  1.0
1  NaN  NaN  2.0
2  3.0  NaN  3.0
3  4.0  4.0  NaN
4  5.0  5.0  5.0

In [4]:
df_ffill = df.fillna(method='ffill')
print("\nForward fill missing values:\n", df_ffill)

df_bfill = df.fillna(method='bfill')
print("\nBackward fill missing values:\n", df_bfill)

Forward fill missing values:
      A    B    C
0  1.0  NaN  1.0
1  1.0  NaN  2.0
2  3.0  NaN  3.0
3  4.0  4.0  3.0
4  5.0  5.0  5.0

Backward fill missing values:
      A    B    C
0  1.0  4.0  1.0
1  3.0  4.0  2.0
2  3.0  4.0  3.0
3  4.0  4.0  5.0
4  5.0  5.0  5.0

/tmp/ipython-input-1106789087.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill = df.fillna(method='ffill')
/tmp/ipython-input-1106789087.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfill = df.fillna(method='bfill')

In [5]:
from sklearn.impute import KNNImputer

knn_imputer = KNNImputer(n_neighbors=2)
df_knn = pd.DataFrame(knn_imputer.fit_transform(df), columns=df.columns)
print("\nKNN Imputed DataFrame:\n", df_knn)

KNN Imputed DataFrame:
      A    B    C
0  1.0  4.5  1.0
1  2.0  5.0  2.0
2  3.0  4.5  3.0
3  4.0  4.0  4.0
4  5.0  5.0  5.0

In [6]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer

# Create a dummy dataset with missing values
data = {
    'Age': [25, np.nan, 30, 22, 40, np.nan, 28],
    'Salary': [50000, 60000, np.nan, 52000, 58000, 62000, np.nan],
    'City': ['New York', 'Los Angeles', 'New York', np.nan, 'Chicago', 'Chicago', 'Los Angeles'],
    'Purchased': ['Yes', 'No', np.nan, 'No', 'Yes', 'Yes', 'No']
}

df_dummy = pd.DataFrame(data)
print("Original Dummy Dataset with Missing Values:")
print(df_dummy)

# Example imputation with mean and mode:
df_imputed = df_dummy.copy()
df_imputed['Age'] = df_imputed['Age'].fillna(df_imputed['Age'].mean())
df_imputed['Salary'] = df_imputed['Salary'].fillna(df_imputed['Salary'].median())
df_imputed['City'] = df_imputed['City'].fillna(df_imputed['City'].mode()[0])
df_imputed['Purchased'] = df_imputed['Purchased'].fillna(df_imputed['Purchased'].mode()[0])

print("\nDummy Dataset After Imputation:")
print(df_imputed)

Original Dummy Dataset with Missing Values:
    Age   Salary         City Purchased
0  25.0  50000.0     New York       Yes
1   NaN  60000.0  Los Angeles        No
2  30.0      NaN     New York       NaN
3  22.0  52000.0          NaN        No
4  40.0  58000.0      Chicago       Yes
5   NaN  62000.0      Chicago       Yes
6  28.0      NaN  Los Angeles        No

Dummy Dataset After Imputation:
    Age   Salary         City Purchased
0  25.0  50000.0     New York       Yes
1  29.0  60000.0  Los Angeles        No
2  30.0  58000.0     New York        No
3  22.0  52000.0      Chicago        No
4  40.0  58000.0      Chicago       Yes
5  29.0  62000.0      Chicago       Yes
6  28.0  58000.0  Los Angeles        No